Repository anthony-gudiel/reactpedia, pull requests merged in 2023-12, with the labels that each got.

#105 104/youtube tests
  app/package-lock.json
  app/package.json
  app/src/components/Search.css
  app/src/components/Search.jsx
  app/src/pages/videos/videos.css
  app/src/pages/videos/videos.jsx
  app/test/Search.test.jsx
  app/test/integration/youtube/search.test.jsx
  app/test/setupVitest.js
  app/test/unit/youtube/createPlaylist.test.jsx
  app/test/unit/youtube/findPlaylist.test.jsx
  app/test/unit/youtube/handleSwitch.test.jsx
  app/test/unit/youtube/oauth.test.jsx
  app/test/unit/youtube/onSearch.test.jsx
  app/test/unit/youtube/playlist.test.jsx
  app/test/unit/youtube/subscription.test.jsx
  app/vite.config.js
Labels: test

#114 107/youtube integration tests
  Project Documents/Data Flow Diagrams/Updated High Level Data Flow Diagram.drawio
  Project Documents/Data Flow Diagrams/Updated High Level Data Flow Diagram.drawio.png
  app/package-lock.json
  app/package.json
  app/src/pages/videos/videos.jsx
  app/test/integration/youtube/playlist.test.jsx
  app/test/integration/youtube/search.test.jsx
  app/test/integration/youtube/subscription.test.jsx
  app/test/setupVitest.js
  app/test/unit/youtube/playlist.test.jsx
Labels: test

#117 Fixed issue with sidebar and added AI disclosure
  Project Documents/AI Declaration/Anthony/ProjectMilestone#2_AI_Declaration_Anthoy_Gudiel_301548411.pdf  .pdf
  app/src/pages/lessons/lesson-1-1.css
  app/src/pages/lessons/lesson-1-1.jsx
  app/src/pages/lessons/lesson-1-2.jsx
  app/src/pages/lessons/lesson-1-3.jsx
  app/src/pages/lessons/lesson-1-4.jsx
  app/src/pages/lessons/lesson-1-5.jsx
  app/src/pages/lessons/lesson-1-6.jsx
  app/src/pages/lessons/lesson-1-7.jsx
  app/src/pages/lessons/lesson-1-8.jsx
  app/src/pages/lessons/lesson-1-9.jsx
Labels: bug, CSS

#120 Project Cleanup and AI Declaration Form
  Project Documents/AI Declaration/Clement/Milestone 2/AI Use Disclosure.pdf
  Project Documents/AI Declaration/Dean/P1_AI_Declaration_Duc_Viet_Nguyen_301563555.pdf
  Project Documents/AI Declaration/Dean/P2_AI_Declaration_Duc_Viet_Nguyen_301563555.pdf
  Project Documents/AI Declaration/Jashan/AI Declaration Project
  Project Documents/AI Declaration/Jashan/Gill_Jashandeep_301454057_Ai_disclosure_form.pdf
  Project Documents/README assets/OAuthClientID.png
  Project Documents/README assets/YouTubeAPIkey.png
  Project Documents/README assets/envfile.png
  README.md
  app/src/pages/lessons/lesson-1-1.jsx
  app/src/pages/lessons/lesson-1-9.jsx
  app/src/pages/quizzes/quizzes.jsx
  app/test/integration/openai/chatbot.test.jsx
  app/test/integration/openai/quiz.test.jsx
  app/test/integration/openai/suggestedQuestion.test.jsx
  app/test/unit/openai/chatbot.test.jsx
  app/test/unit/openai/quiz.test.jsx
  app/test/unit/openai/suggestedQuestion.test.jsx
Labels: documentation, enhancement
